<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="mobi.glowworm.demo.gdg_ct_20170830">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--Basic Initial List-->
        <activity
            android:name="._1_basic_initial_list.ItemListActivity_1"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mobi.glowworm.demo.gdg_ct_20170830.MainActivity"/>
        </activity>
        <activity
            android:name="._1_basic_initial_list.ItemDetailActivity_1"
            android:label="@string/title_item_detail"
            android:parentActivityName="._1_basic_initial_list.ItemListActivity_1"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mobi.glowworm.demo.gdg_ct_20170830._1_basic_initial_list.ItemListActivity_1"/>
        </activity>

        <!--Basic Transitions-->
        <activity
            android:name="._2_basic_transitions.ItemListActivity_2"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mobi.glowworm.demo.gdg_ct_20170830.MainActivity"/>
        </activity>
        <activity
            android:name="._2_basic_transitions.ItemDetailActivity_2"
            android:label="@string/title_item_detail"
            android:parentActivityName="._2_basic_transitions.ItemListActivity_2"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mobi.glowworm.demo.gdg_ct_20170830._2_basic_transitions.ItemListActivity_2"/>
        </activity>

        <!--Polished Basics-->
        <activity
            android:name="._3_polished_basics.ItemListActivity_3"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mobi.glowworm.demo.gdg_ct_20170830.MainActivity"/>
        </activity>
        <activity
            android:name="._3_polished_basics.ItemDetailActivity_3"
            android:label="@string/title_item_detail"
            android:parentActivityName="._3_polished_basics.ItemListActivity_3"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mobi.glowworm.demo.gdg_ct_20170830._3_polished_basics.ItemListActivity_3"/>
        </activity>

    </application>

</manifest>